:root {
  font-family: Aptos, Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: "#213547";
}

.avatar {
   border-radius: 50%;
}